.project {
  width: 100%;
  display: inline-block;
  border-bottom: #FFE600  solid 10px;
  margin-bottom: 15px;
}

.strong {
  font-weight: bold;
}

/* .indent {
  margin-left: 15px
} */

.projectImgLeft {
  max-width: 500px;
  width: 40%;
  float: left;
}
 
.projectAboutRight {
  width: 60%;
  float: right;
  padding-bottom: 5px;
}
 
.projectImgRight {
  max-width: 500px;
  width: 40%;
  float: right;
}
  
.projectAboutLeft {
  width: 60%;
  float: left;
  padding-bottom: 5px;
}

.projectTitle {
  font-size: 150%;
}

.gitHubLink {
  font-size: 120%;
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  .project {
    min-height: 204px;
    border-bottom: #FFE600  solid 10px;
  }
  .projectImgLeft {
    width: 100%;
  } 
  .projectAboutRight {
    width: 100%;
  }
  .projectImgRight {
    width: 100%;
  }
  .projectAboutLeft {
    width: 100%;
  }
}