.smileyButton {
  position: fixed;
  right: calc(50% - 890px);
  top: 10px;
  z-index: 1;
  border-radius: 50%;
  /* box-shadow: 4px 4px 8px lightslategray; */
}

.smileyButton:hover {
  cursor: pointer;
}

@media (max-width: 1800px) {
  .smileyButton {
    right: 10px;
  }
}